<%- include('layouts/header.ejs') %>

  <div class="saved-container">
    <h1>Saved for Later ❤️</h1>

    <% if(!saved || saved.length===0) { %>
      <p>No saved items</p>
      <% } else { %>

        <div class="saved-grid">

          <% saved.forEach((item, index)=> { %>
            <div class="saved-card">
              <!-- IMAGE CLICKABLE -->
              <a href="/product/<%= item.productId %>">
                <img src="<%= item.image %>" alt="">
              </a>

              <!-- NAME CLICKABLE -->
              <h3>
                <a href="/product/<%= item.productId %>">
                  <%= item.name %>
                </a>
              </h3>

              <p>₹<%= item.price %>
              </p>

              <div class="saved-actions">
                <a href="/move-to-cart/<%= index %>">Move to Cart</a>
                <a href="/remove-saved/<%= index %>">Remove</a>
              </div>

            </div>
            <% }) %>

        </div>

        <% } %>
  </div>

  <%- include('layouts/footer.ejs') %>